.chart-container1 {
    width: 100%;
    max-width: 641px;
    max-height: 250px;
    background-color: white; 
    border-radius: 1.5rem;
    overflow: hidden;
    border: 1px solid #E5E7EB;
    margin-top: -35px;
}

.chart-header1 {
    display: flex;
    align-items: stretch; /* Ensures equal height for header sections */
}

.chart-left-header1 {
    width: 4rem; 
    margin-right: 1rem; 
    background: linear-gradient(180deg, #FF80B4 20%, rgba(11, 75, 44, 0.5) 80%);
    border-radius: 24px 0 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-header-content1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.writing-mode-vertical1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.chart-title1 {
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 500;
    color: white;
    transform: rotate(180deg); 
    transform-origin: center;
}

.chart-right-section1 {
    flex: 1;
    background: none; 
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

.chart-percentage1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem; 
}

.percentage-text1 {
    color: #10B981; 
    font-size: 0.875rem; 
    font-weight: 500;
}
