
.best-selling-table {
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 0; 
    position: relative; 
    margin-top: 30px;
}

.best-selling-table-header {
    background-color: #0b4b2c; 
    width: 100%;
    color: white;
    padding: 5px 10px; 
    text-align: left;
    margin-left: 0; 
    margin-right: 0; 
}

.best-selling-table-header h2 {
    font-size: 18px; 
    font-weight: 500;
    margin: 0;
    margin-left: 20px;
    color: white;
}


.best-selling-table-table {
    width: 100%; 
    overflow-x: auto; 
    margin: 0 auto;
    
    width: calc(100% - 70px);
}

.best-selling-table table {
    width: 100%; 
    border-collapse: separate; 
    border-spacing: 0;
}

.best-selling-table th,
.best-selling-table td {
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px !important; 
    border-bottom: 1px solid #e5e7eb;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
}


.best-selling-table td:last-child {
    padding-right: 0; 
    text-align: right; 
}


.best-selling-table th:last-child {
    padding-right: 0; 
    text-align: right; 
    border-radius: 0 2px 2px 0;
}

.best-selling-table th {
    background-color: #ffffff;
    font-weight: 600; 
}

.best-selling-table thead tr {
    background-color: #ffffff;
}

.best-selling-table thead tr th {
    color: #FF80B4;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    font-size: 12px;
}

.best-selling-table tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.best-selling-table tr:nth-child(even) {
    background-color: #ffffff;
}

.best-selling-table tr:hover {
    background-color: #edf2f7;
}


@media (max-width: 768px) {
    .best-selling-table {
        max-width: 90%; 
    }

    .best-selling-table-header h2 {
        font-size: 1.2rem; 
    }

    .best-selling-table th,
    .best-selling-table td {
        padding: 10px; 
    }

    
    .best-selling-table td:last-child,
    .best-selling-table th:last-child {
        text-align: left; 
    }
}
