
.heading-container {
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 1;
    position: relative;
    text-align: center;
}

.heading {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0;
    color: #000000;
}

.title {
    font-weight:700;
    font-size: 30px;
    letter-spacing: 0;
    color: #000000;
    margin: 10px 0;
}

.subtitle {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0;
    color: #373737;
    margin: 10px 0;
}

.notification-header {
    font-size: 14px; /* Adjusted header size */
    font-weight: 400px;
    margin-left: 200px; /* Space between header and content */
    margin-top: 10px;
  }

@media (max-width: 768px) {
    .heading {
        font-size: 40px; 
    }

    .title {
        font-size: 25px; 
    }

    .subtitle {
        font-size: 15px; 
    }
    .notification-header {
        font-size: 16px; /* Smaller font size on small screens */
        margin-left: 1px; /* Reduce left margin on small screens */
        margin-top: 20px; /* Reduce top margin on small screens */
      }
}

@media (max-width: 480px) {
    .heading {
        font-size: 32px;
    }

    .title {
        font-size: 22px; 
    }

    .subtitle {
        font-size: 14px;
    }

    .heading-container {
        margin-top: 15px;
        margin-bottom: 30px; 
    }
    .notification-header {
        font-size: 14px; /* Even smaller font size for very small screens */
        margin-left: 1px; /* Further reduce left margin */
        margin-top: 10px; /* Further reduce top margin */
      }
}
