.chart-container {
    min-height: 400px;
    background-color: white; 
    border: 1px solid #E5E7EB;
    display: flex;
    flex-direction: column;
}

.chart-header {
    display: flex;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: darkgreen;
    justify-content: center;
    height: 50px;
}

.chart-header h2{
    color: #ffffff;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.salesChart{
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}

.chart-right-section {
    flex: 1;
    height: 500px;
    background: none; 
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}
