@media screen and (max-width: 768px) {
    .export-controls {
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      gap: 8px; 
    }
  
    .bink-button {
     
      padding: 10px 16px;
      width: auto;
      margin-left: -60px;
    }
    .dropdown-container1 {
      margin-left: -50px;
      margin-top: 0px;
      
    }
 
  
   
    .chevron-container {
      position: absolute;
      right: 0; 
    }
  }
  

  @media screen and (max-width: 480px) {
    .export-controls {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      gap: 8px; 
    }
  .dropdown-container1 {
    margin-left: 170px;
    margin-top: 3px;
    
  }
    .bink-button {
     
  
      width: auto; 
      margin-left: -45px;
    }
  
  
  
    
    .chevron-container {
      position: absolute;
      right: 0; 
    }
  }



  