
.Language-container {
  width: 100%;
  max-width: 876px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
}

.Language-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1px;
  margin-top: -70px;
  margin-left: 250px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 5px; 
  margin-bottom: 25px;
  margin-top: -50px;
}

.dropdown-label {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  min-width: 150px;
  margin-left: -150px;
 
}

@media (max-width: 768px) {
  .Language-container {
    width: 100%;
    max-width: 876px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
  }
  
  .Language-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
    margin-top: -70px;
    margin-left: 145px;
  }
 
  .dropdown-container {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
    margin-bottom: -20px;
    margin-top: 50px; 
    align-items: flex-start; 
    margin-left: 190px;
  }

  .dropdown-label {
    font-size: 14px; 
    min-width: auto;
    white-space: nowrap; 
    margin-left: 10px;
    
    margin-top: 10px;
    margin-bottom: -15px;
  }


  
  .chevron-container {
    display: flex;
    align-items: center; 
    gap: 2px; 
    height: auto;
    position: absolute;
    left: 170px;
}
}
@media (max-width: 480px) {
  .Language-container {
    width: 100%;
    max-width: 876px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
  }
  
  .Language-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1px;
    margin-top: -10px;
    margin-left: 50px;
  }


  .dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    margin-bottom: 0; 
    margin-top: 40px;
    align-items: flex-start; 
    margin-left: 90px;
  }

  .dropdown-label {
    font-size: 12px;
    min-width: auto;
    white-space: nowrap;
    margin-left: -20px;
    margin-top: 5px;
    margin-bottom: -8px;
  }


  

  .chevron-container {
    display: flex;
    align-items: center;
    gap: 2px;
    height: auto;
    position: absolute;
    left: 10px;
  }
}



